/*@media (min-width: 375px) and (max-width: 576px)*/
@media (max-width: 576px) {
  .navList ul {
    background-color: #272d37;
    opacity: 0.7;
    border-radius: 0 0 20px 20px;
    border: 5px solid blue;
    border-top: none;
    width: 80%;
    height: calc(100vh-80px);
    position: absolute;
    top: 80px;
    left: 9%;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    display: none;
  }
  .navList i {
    display: block;
  }

  #toogle-menu:checked ~ .navBar {
    display: flex;
  }
  .navList {
    margin-right: 4rem;
  }

  .contenedor1 {
    display: flex;
    flex-direction: column;
  }

  .contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .contenedor1 h3 {
    font-size: 25px;
  }

  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }

  .contenedor1 img {
    margin-top: 20px;
  }

  .contenedor2 {
    display: flex;
    flex-wrap: wrap;
  }

  div p {
    text-align: center;
  }

  .contenedor2 img {
    position: relative;
    bottom: 25px;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .foto1 {
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 20px;
  }

  .img3 {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  .containerPri {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .subContainerForm1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .subContainerForm1 input {
    width: 250px;
  }

  .subContainerForm2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .subContainerForm2 input {
    width: 250px;
  }

  .containerPri2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subContainerForm3 textarea {
    width: 250px;
  }

  .subContainerForm3 label,
  textarea {
    position: relative;
    left: 0%;
  }

  .btnForm {
    width: 40%;
  }

  .cont4Footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .cont3Footer2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (min-width: 576px) and (max-width: 950px) {
  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }
  .cont4Footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .cont4_1Footer2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .containerPri2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .subContainerForm3 textarea {
    width: 516px;
    overflow: hidden;
  }

  .subContainerForm3 label,
  textarea {
    position: relative;
    left: 0%;
  }
}

@media (min-width: 912px) {
  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }
  .containerPri2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .subContainerForm3 textarea {
    width: 516px;
    overflow: hidden;
  }

  .subContainerForm3 label,
  textarea {
    position: relative;
    left: 0%;
  }
}

@media (max-width: 992px) {
  .cont3Footer2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }

  .cont4Footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .footerArea2 h5 {
    position: relative;
    top: 1px;
  }
  .cont4_1Footer2 p {
    margin-top: 33px;
  }
  .cont4_1Footer2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .btnForm {
    width: 40%;
  }
  .img3 {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  .foto1 {
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 20px;
  }
  div p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  .contenedor1 {
    display: flex;
    flex-direction: column;
  }

  .contenedor1 img {
    margin-top: 20px;
  }

  .contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor1 h3 {
    font-size: 25px;
  }

  .contenedor2 img {
    position: relative;
    bottom: 25px;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .subContainerForm1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .subContainerForm1 input {
    width: 250px;
  }

  .subContainerForm2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .subContainerForm2 input {
    width: 250px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }

  .cont4_1Footer2 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .containerPri2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .subContainerForm3 textarea {
    width: 715px;
    overflow: hidden;
  }

  .subContainerForm3 label,
  textarea {
    position: relative;
    left: 0%;
  }
}

@media (min-width: 1024px) {
  div a {
    padding: 25px;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 45px;
  }

  .footerArea2 h5 {
    position: relative;
    top: 1px;
  }
  .cont4_1Footer2 p {
    margin-top: 33px;
  }

  .cont4_1Footer2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .containerPri2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .subContainerForm3 textarea {
    width: 715px;
    overflow: hidden;
  }

  .subContainerForm3 label,
  textarea {
    position: relative;
    left: 0%;
  }
}
